<!DOCTYPE html>
<html>
  <head>
    <title>Collision</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div>
        <h1 class="text-center" style="text-decoration: underline;">Collision - Bike Stations tracker</h1>
        <h3>This application shows the map with all the following :</h3>
        <p class="description" style="font-size: 16px; font-weight: 400;">
          ● Collisions happened around the cities along with cyclists injured and killed and can be filtered by borough.<br>
          ● Bike stations around the cities and on click of any bike station it shows the collision in the same area and shows the distance between the collision and bike station on click of the collision.
        </p>
        <a href="/map">
          <button type="button" name="showStations" class="btn btn-info btn-lg">Go To Map</button>
        </a>
        <hr>
        <h3>API's can be accessed to get collisions and bike stations.</h3>
        <p>
          You can access the API docs <a href="https://documenter.getpostman.com/view/6928742/TzCP88Ca" target="_blank" style="font-size: 15px;">HERE</a>
        </p>
      </div>
    </div>
  </body>
</html>